.left-container{
  height:100%;border-right:1px solid #ddd;
  position:fixed;top:66px;width:166px;
  .nav{
    padding:10px;
    height:23px;line-height:23px;
    .fa{
      margin:0 5px;
    }
  }
}
