.pager{
  position:absolute;left:0;bottom:0;width:100%;height:66px;line-height:66px;text-align:center;
  .pager-center{
    .prev,.next{
      padding:6px 13px;border:1px solid #ddd;margin:0 5px;cursor:pointer;
      &:hover{
        background:#61a1e9;color:#fff;border:1px solid #61a1e9;
      }
    }
    .prev{

    }
    .next{

    }
    .number{
      padding:6px 13px;border:1px solid #ddd;cursor:pointer;margin-left:-1px;
      &:hover, &.active{
        background:#61a1e9;color:#fff;border:1px solid #61a1e9;
      }
    }
  }
}
